* {
    margin: 0px;
    box-sizing: border-box;
    font-family: arial,sans-serif;
}

body {
    width: 100%;
}

.container {
    width: 100%;
    height: 100vh;
}

.navbar {
    display: flex;
    justify-content: right;
    padding-top: 20px;
    padding-right: 20px;
}


.navbar-advanced {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-right: 20px;
}

.navbar-menu {
    font-size: 14px;
    color: black;
}

.navbar-menu-logo > img {
    height: 25px;
    margin-left: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    margin-top: 7%;
}

.content-advanced {
    width: 100%;
    padding-top: 45px;
    padding-left: 45px;
}

.content-advanced > p {
    margin-bottom: 25px;
}

.description {
    font-size: 11px;
    color: #444;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.img-container {
    position: relative;
}

.img-container img {
    width: 272px;
}

.img-text {
    position: absolute;
    bottom: 3px;
    right: 4px;
    margin-top: -20px;
    color: #4685F4;
}

.input-submit {
    display: flex;
    justify-content: flex-end;
}

.input-submit > input {
    background-color: #4D90FD;
    color: #F4FEFF;
    height: 30px;
    min-width: 120px;
    line-height: 100%;
    border-radius: 1px;
    outline: 0.5px solid #3880f2;
    border: none;
    font-size: 12px;
    font-weight: 600;
}

.form-container {
    width: 584px;
    display: flex;
    justify-content: center;
}

.form-advanced > form {
    font-size: 13px;
    display: grid;
    grid-template-columns: 0.15fr 0.5fr 0.3fr;
    row-gap: 15px;
    justify-self: center;
    max-width: 1140px;
}

.form-advanced > form > input {
    font-size: 13px;
    padding: 4px;
    padding-left: 8px;
    height: 25px;
    border: 1px solid #d9d9d9;
}

.form-advanced > form > input[type="text"]:focus {
    border: none;
    box-shadow: 0 1px 6px rgb(56 128 242 / 50%);
    outline: 1px solid #3079ed;
}

.top-content-advanced {
    width: 100%;
    max-width: 1140px;
    display: grid;
    grid-template-columns: 0.15fr 0.5fr 0.3fr;
    float: left;
    margin-bottom: 20px;
}

#todo-description {
    color: #777;
    font-size: 13px;
    font-weight: bold;
}

.grid-item {
    align-self: center;
}

#query-input-div {
    border-radius: 50px;
    padding: 10px;
    padding-left: 20px;
    width: 100%;
    border: 1px solid #dfe1e5;
    display: flex;
}

#query-input-div:hover {
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223,225,229,0);
    outline: none;
}

#query-input {
    width: 100%;
    padding-left: 15px;
    font-size: 16px;
    outline: none;
    border: none;
}

#query-input:focus {
    text-decoration: none;
    background-color: #fff;
}

#loupe {
    width: 16px;
}

.form-submit {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.form-submit > input {
    margin-left: 11px 4px;
    background-color: #F8F9FA;
    color: #3c4043;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    justify-content: space-around;
    font-size: 14px;
}

.form-submit > input:hover {
    outline: 2px solid #F0F0F0;
    cursor: pointer;
}

.footer {
    position: absolute;
    bottom: 0;
    background-color: #F2F2F2;
    height: 95px;
    width: 100%;
    left: 0;
    font-size: 15px;
    color: #757C84;
}

.country {
    height: 50%;
    display: flex;
    padding-left: 30px;
    align-items: center;

}

.footer-items {
    width: 100%;
    height: 50%;
    margin: 0;
    padding: 0;
    padding-left: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgb(220, 220, 220);
    font-size: 14px;
}

.f-list {
    padding: 0;
    margin: 0;
}

.f-list > li {
    padding-left: 0;
    margin: 0;
    margin-right: 30px;
}

#title h1 {
    width: 100%;
    font-size: 20px;
    font-weight: normal;
    color: #D93025;
    padding-top: 40px;
    padding-left: 45px;
    padding-bottom: 25px;
    border-bottom: 1px solid #EBEBEB;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
}

ul {
    display: flex;
}

ul > li {
    list-style: none;
    margin-left: 15px;
}

a:link, a:visited {
    text-decoration: none;
    color: black;
}

@media only screen and (min-width: 1055px) and (max-width: 1070px) {
    .top-content-advanced {
        display: inline-block;
    }
    #todo-description {
        margin-left: 160px;
        margin-bottom: -15px;
    }

    .form-advanced > form {
        /* grid-template-columns: 0.15fr 0.55fr 0.3fr; */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .form-advanced > form > input {
        width: 50%;
    }

    .form-advanced > form > label {
        width: 150px;
        margin-right: 10px;
    }

    .form-advanced {
        position: relative;
    }

    .description {
        width: 100%;
        margin-left: 170px;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .input-submit {
        position: absolute;
        right: 350px;
        bottom: 0px;
    }
}

@media only screen and (max-width: 1055px) {
    .form-advanced > form {
        display: grid;
        grid-template-columns: 0.15fr 0.55fr;
    }

    .form-advanced > form > label {
        width: 150px;
        margin-right: 10px;
    }

    .top-content-advanced > p {
        width: 150px;
    }
    
    .description {
        display: none;
    }

    #todo-description {
        display: none;
    }
}

@media only screen and (min-width: 375px) and (max-width: 660px) {
    .form-container {
        width: 80%;
        min-width: 385px;
    }
}

@media only screen and (max-width: 560px) {
    .footer-items {
        display: flex;
        flex-direction: column;
    }
    .footer {
        height: 150px;
    }

    .content-advanced {
        padding-left: 15px;
    }
}